.sthira-main{
  padding: 10px 0;
  background-image: url('https://betterlyf.com/images/banner-background.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 80px 120px;
}


header {
  display: block;
}

.header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo {
  width: 64px;
  height: auto;
  display: block;
}


body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background: #fafafa;
  color: #222;
}

h1, h2 {
  margin-bottom: 0.5rem;
}

img {
  height: auto;
}

